.about-container{
    color: white;
}

.about-head-text{
    margin: 30px 5px;
    padding: 130px 10px;
    width: 40vw;
}

.about-head-text h2{
    max-width: 30vw !important;
    display: block;
    margin: auto;
    font-size: 2.2em;
    font-weight: bolder;
}

.contact-btns{
    margin: 20px 40%;
    font-weight: bold;
    padding: 8px 18px !important;
    background-color: white;
    color: green;
}

.contact-btns:hover{
    box-shadow: 0px 7px 10px rgb(81, 80, 80);
}


.about-head-img{
    margin: 30px 5px;
    padding: 80px 10px;
    width: 50vw;
}

.ab-circle{
    width: 250px;
    height: 250px;
    background-color: #16cc86;
    border-radius: 50%;
    margin: auto;
}

.about-head-img img{
    border-radius: 50%;
    margin: 0px 10px;
}

.about-img-1{
    z-index: 10;
    position: absolute;
    width: 300px;
    height: 300px;
    top: 100px;
    right: 500px;
}

.about-img-2{
    z-index: 10;
    position: absolute;
    width: 400px;
    height: 400px;
    top: 140px;
    right: 70px;
}


footer{
    width: 90vw !important;
}

footer .leaf-footer{
    position: absolute;
    left: 240px;
    bottom: 60px;
    font-size: 3em !important;
    color: #16cc86;
    z-index: -1;
}

footer h2{
    width: 25vw;
}

footer div{
    width: 20vw;
    height: 15vh !important;
    font-size: 1.2em;
}

.about-footer-links{
    padding-top: 12px;
    padding-left: -10px;
}

.about-footer-links a{
    width: 38px;
    height: 38px;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    color: white;
    padding-top: 1px;
}

.about-footer-links a:hover{
    box-shadow: 0px 7px 10px rgb(81, 80, 80);
}

.footer-link-1{
    background: linear-gradient(270deg, #5480ac, #075099);
}

.footer-link-2{
    background: linear-gradient(to top, #097aeb, #b0ceec);
}

.footer-link-3{
    background: linear-gradient(150deg, yellow, rgb(199, 6, 39),  blue);
}

.footer-link-4{
    background: linear-gradient(270deg, #8abdf0, #0a66c2);
}

.footer-link-5{
    background: linear-gradient(270deg, rgb(34, 33, 33), rgb(155, 154, 154));
}

.about-footer-links a:hover{
    cursor: pointer;
    color: white;
    background: #16cc86;
}



.contact-info{
    width: 36vw;
    height: 70vh;
    padding: 40px 0;
    background: linear-gradient(135deg, rgba(5, 117, 5, 0.69), rgb(145, 145, 145));
    position: absolute;
    top: 16%;
    left: 32%;
    z-index: 100;
    color: white !important;
    border-radius: 20px;
    display: none;
}

.contact-info-cross{
    position: absolute;
    left: 496px;
    top: 2px;
    font-size: 2em !important;
    color: white;
    --bs-btn-line-height: 10px !important;
    border-radius: 50%;
    width: 54px;
}

.contact-info-cross:hover{
    cursor: pointer;
    color: rgb(155, 249, 139);
}

.contact-info h2{
    margin: 0px 0px 34px 50px;
}

.contact-info .row input, textarea{
    margin: 8px auto;
    padding: 8px;
    width: 30vw;
    border-radius: 10px;
    border: none;
}

.contact-info textarea{
    height: 14vh;
}

.contact-info .row .submit-btn{
    margin: 25px 0px;
}

.contact-info .row button{
    display: block;
    margin: auto;
}