
.home-container{
    height: 50vh;
}

.card{
    border-radius: 20px;
}

.whole-cards{
    margin: 0px 0px;
}

.card-headers{
    padding: 10px 20px;
    margin: 0px 10px;
    border-radius: 15px;
    background: linear-gradient(135deg, #3c3762, black);
    margin-bottom: 14px;
}

.cardE{
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    padding: 60px 10px;
    margin: 0px 10px;
    background: linear-gradient(135deg, #3c3762, black);
}

.card-containers{
    max-width: 96vw;
    margin-left: 22px;
}

.card-containers .row{
    padding: 24px 10px;
    border-radius: 20px;
    margin: 50px 0 30px 0;
    background: linear-gradient(135deg, black, #3c3762);
}

.cardE:hover{
    transform: translateY(14px);
    cursor: pointer;
}

.cardE:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgba(150, 201, 61, 1));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
    border-radius: 10px;
}

.cardE:hover:before{
    opacity: 1;
    border-radius: 10px;
}

.cardE img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.card-bodyE{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.cardE:hover .card-bodyE{
    opacity: 1;
    transform: translateY(0px);
}

.card-titleE{
    margin: 0;
}

.card-textE{
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.card-bodyE a{
    padding: 0.5rem 1rem;
    transition: 0.4s ease-in-out;
    font-size: 18px !important;
    font-weight: bold;
}

.card-bodyE a:hover{
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}



.cardN{
    color: #fff;
    margin: 25px auto;
    padding: 20px 28px;
    text-align: center;
    /* height: 46vh; */
    background: linear-gradient(135deg, black, #3c3762);
}

.card1{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 35px 25px;
}

.card1 .forecast{
    width: 30vw;
    height: 40vh;
    background: linear-gradient(135deg, #3c3762, black);
    margin-right: 15px;
    border-radius: 20px;
}

.card1 .card-bodyN{
    width: 20vw;
    height: 40vh;
    margin-left: 15px;
    background: linear-gradient(135deg, #3c3762, black);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.searchN{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchN input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 4px 25px;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    flex: 1;
    margin-right: 12px;
    font-size: 18px;
}

.searchN button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.searchN button img{
    width: 14px;
}

.weather-icon{
    width: 180px;
}

.forecast h1{
    font-size: 40px;
    font-weight: 500;
    color: white;
    font-family: none;
    margin: auto;
}

.forecast h2{
    font-size: 18px;
    font-weight: 400;
}

.card1 .card-bodyN .details{
    width: 40%;
    height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    margin-top: 10px;
}

.card-bodyN  .colW{
    width: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 17px 0px;
}

.card-bodyN .colW img{
    width: 40px;
    margin-right: 20px;
}

.colW-text{
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.colW-text p{
    margin: auto;
}

.card2{
    width: 35%;
    z-index: -10;
}

.card2 h2{
    text-shadow: 0 0 4px #ee00ff;
    color: #00d9ff;
    font-size: 20px;
}

.time-body{
    font-size: 36px !important;
}

.timed{
    margin: 24px 0px;
}


.card1{
    position: absolute;
    left: 20px;
}

.card2{
    position: absolute;
    right: 20px;
}



.export-btn{
    position: absolute;
    bottom: 7%;
    width: 3.5vw;
    background-color: green;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    border-top: 4px solid rgb(72, 202, 72);
    border-bottom: 4px solid rgb(72, 202, 72);
    border-right: 4px solid rgb(72, 202, 72);
}

.export-btn .btn{
    border-radius: 42% !important;
    padding: 10px 12px !important;
    background-color: rgb(0, 76, 0);
}