.note-body{
    margin: 20px 0 0 0;
    padding: 0;
    color: white;
}

.keep-note-btn:hover{
    cursor: pointer;
}

.keep-note-tag{
    border-radius: 0 20px 0 5px;
}

.modal-content{
    background-color: transparent;
}

.modal-body, .modal-header, .modal-footer{
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.69), rgb(145, 145, 145));
}

.card-body .upbtn:hover{
    color: rgb(26, 227, 26);
}

.card-body .delbtn:hover{
    color: red;
}