body {
  margin: 0;
  background-color: #212529;
}

nav div a{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.pen-top{
  background-color: hsl(225, 6%, 25%);
}

.pen{
  height: 50vh;
  display: flex;
}

.editor-container{
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 5px;
  padding: 0.5rem;
}

.editor-container.collapsed{
  flex-grow: 0;
}

.editor-container.change-mode{
  background-color: white;
  color: hsl(225, 6%, 13%);
}

.editor-container.collapsed .CodeMirror-scroll{
  position: absolute;
  overflow: hidden !important;  /* to hide the scroll bar while collapsing*/
}

.editor-title{
  background-color: #212529;
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.rswitches{
  margin-left: 0.5rem;
}

.expand-compress-btn{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.btn-sett{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.code-mirror-wrapper{
  flex-grow: 1;
  overflow: hidden;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.CodeMirror{
  height: 100% !important;
}

.about-header{
  text-shadow: 0 0 10px grey,
    0 0 60px gray;
}

.offcanvas-body:hover{
  background-color: black;
}