@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Handjet:wght@900&family=Orbitron:wght@500&family=Roboto+Slab:wght@700&family=Slabo+27px&display=swap');


body {
  margin: 0;
  background-color: #0b1219 !important;
}

nav div a{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.pen-top{
  background-color: hsl(225, 6%, 25%);
}

.pen-exc{
  background-color: whitesmoke;
}

.pen{
  height: 50vh;
  display: flex;
}

.editor-container{
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 5px;
  padding: 0.5rem;
}

.editor-container.collapsed{
  flex-grow: 0;
}

.editor-container.change-mode{
  background-color: white;
  color: hsl(225, 6%, 13%);
}

.editor-container.collapsed .CodeMirror-scroll{
  position: absolute;
  overflow: hidden !important;  /* to hide the scroll bar while collapsing*/
}

.editor-title{
  background-color: #212529;
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.rswitches{
  margin-left: 0.5rem;
}

.expand-compress-btn{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.btn-sett{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.code-mirror-wrapper{
  flex-grow: 1;
  overflow: hidden;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.CodeMirror{
  height: 100% !important;
}

.off-button:hover{
  background-color: black;
}

.carousel-caption h5, p{
  color: white;
}


/* for calclator */

.cal-container{
  margin: 84px auto;
  padding: 6px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 45%;
  border: 4px solid rgb(32 33 36 / 90%);
  border-radius: 14px;
  background-color: #0b1219;
  box-shadow: 0 0 6px grey,
  0 0 8px gray;
}

.cal-top{
  width: 100%;
  color: white;
}

.cal-container input{
  margin: 14px 0px;
  width: 16rem;
  height: 6rem;
  padding: 2px 4px;
  border: none;
  font-size: 25px;
  text-align: right;
  background-color: #0a1016;
  color: #16cc86;
  letter-spacing: 1px;
  font-weight: 15px;
  font-family: 'Orbitron', sans-serif;
}

.calc-head{
  font-family: 'Dancing Script', cursive;
  color: white;
}

.calc-head-r:hover{
  color: white;
}

.cal-switches{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Slab', serif;
}

.cal-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cal-row .cal-switch{
  width: 40px;
  height: 40px;
  padding: 4px;
  margin: 6px 6px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  background-color: #e8dfdff5;
  font-size: 14px;
}

.cal-row .Ncal-switch{
  width: 50px;
  height: 52px;
  padding: 4px;
  margin: 10px 8px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  background-color: #e8dfdff5;
  font-size: 20px;
}

.cal-row .cal-equi{
  background-color: orange;
  border: 2px solid rgb(233, 164, 35);
}

.cal-swiitch-sp{
  background-color: #16cc86 !important;
  border: 2px solid #16cc86 !important;
}

.cal-row .cal-switch:hover{
  box-shadow: 0 0 4px white,
  0 0 2px white;
  background-color: white;
}

.cal-row .cal-equi:hover{
  box-shadow: 0 0 4px white,
  0 0 2px white;
  background-color: rgb(233, 164, 35);
}

.popover{
  --bs-body-bg: hsl(210deg 10.81% 14.51%) !important;
  --bs-popover-body-color: white !important;
}

.popover-header{
  font-family: 'Orbitron', sans-serif;
  background-color: #363a3d  !important;
  color: white !important;
  padding: 16px !important;
}

.popover-header-clock {
  font-family: 'Orbitron', sans-serif;
  background-color: transparent !important;
  color: #16cc86 !important;
}
.popover-body {
  margin: 5px !important;
}
.popover-body .nav-link, button{
  padding: 10px 4px !important;
}

.popover-body .nav-link:hover{
  background-color: black !important;
}

.clock-body{
  width: 28vw;
}

.settings-body{
  width: 28vw;
}

.about-text-section{
  color: rgb(152, 149, 149);
  margin-top: 50px;
  font-family: 'Slabo 30px', serif;
}

.about-text-footer{
  color: white;
  margin: 30px 0px;
  font-family: 'Slabo 30px', serif;
}

.about-head{
  border-radius: 20px;
}

.carousel-inner img{
  height: 70vh;
}


/*Navbar*/
.nav-mid{
  width: 24vw;
}

.nav-mid a{
  color: white;
}

.nav-mid a:hover{
  border-radius: 10px;
  background-color: hsl(225, 6%, 25%);
}

.active-link{
  color: #0d6efd !important;
}