@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Handjet:wght@900&family=Orbitron:wght@500&family=Roboto+Slab:wght@700&family=Slabo+27px&display=swap');


body {
  margin: 0;
  background-color: #0b1219 !important;
}

nav div a{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.pen-top{
  background-color: hsl(225, 6%, 25%);
}

.pen-exc{
  background-color: whitesmoke;
}

.pen{
  height: 50vh;
  display: flex;
}

.editor-container{
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 5px;
  padding: 0.5rem;
}

.editor-container.collapsed{
  flex-grow: 0;
}

.editor-container.change-mode{
  background-color: white;
  color: hsl(225, 6%, 13%);
}

.editor-container.collapsed .CodeMirror-scroll{
  position: absolute;
  overflow: hidden !important;  /* to hide the scroll bar while collapsing*/
}

.editor-title{
  background-color: #212529;
  color: white;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.rswitches{
  margin-left: 0.5rem;
}

.expand-compress-btn{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.btn-sett{
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.code-mirror-wrapper{
  flex-grow: 1;
  overflow: hidden;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.CodeMirror{
  height: 100% !important;
}

.off-button:hover{
  background-color: black;
}

.carousel-caption h5, p{
  color: white;
}

.popover{
  --bs-body-bg: hsl(210deg 10.81% 14.51%) !important;
  --bs-popover-body-color: white !important;
}

.popover-header{
  font-family: 'Orbitron', sans-serif;
  background-color: #363a3d  !important;
  color: white !important;
  padding: 16px !important;
}

.popover-header-clock {
  font-family: 'Orbitron', sans-serif;
  background-color: transparent !important;
  color: #16cc86 !important;
}
.popover-body {
  margin: 5px !important;
}
.popover-body .nav-link, button{
  padding: 10px 4px !important;
}

.popover-body .nav-link:hover{
  background-color: black !important;
}

.clock-body{
  width: 28vw;
}

.settings-body{
  width: 28vw;
}


/*Navbar*/
.nav-mid{
  width: 24vw;
}

.nav-mid a{
  color: white;
}

.nav-mid a:hover{
  border-radius: 10px;
  background-color: hsl(225, 6%, 25%);
}

.active-link{
  color: #0d6efd !important;
}